lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.swo
.DS_Store

pids
logs
results
dist

config.js
CHANGELOG.md
CONTRIBUTING.md
gulpfile.js
karma.conf.js
LICENSE
package.json
README.md

coverage
jspm_packages
node_modules
bower_components
npm-debug.log
src
misc
